# Dependencies
node_modules/
venv/
.venv/

# Build outputs
dist/
build/
out/
.wrangler/

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp

# work documentations
INSTRUCTIONS.md 

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
